/* clearfix */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    margin: 0;
    padding: 0;
}
.clearfix:after {
    clear: both;
}
body {
    color: #000;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}