$generalColor: #000;
$whiteColor: #fff;
$blackColor:#000;

/* clearfix */
.clearfix {
  &:before {
    content: "";
    display: table;
    margin: 0;
    padding: 0;
  }

  &:after {
    content: "";
    display: table;
    margin: 0;
    padding: 0;
    clear: both;
  }
}