body {
  background: $generalColor;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: Arial, sans-serif;
  @include word-break (break-all);
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus {
  outline: 0 !important;
  -webkit-appearance: none;
}

.button {
  display: inline-block;
  border: 0;
  color: $whiteColor;
  background-color: $buttonShoppingColor;
  @include border-radius(2px);
  text-decoration: none;
  cursor: pointer;

  &:focus, &:active, &:hover {
    outline: 0 !important;
    -webkit-appearance: none;
  }
}

.main-container {
  margin: 0 auto;
  max-width: 960px;
  background-color: $mainContentBackgroundColor;
}

.sub-container {
  padding: 0 25px 27px 30px;
  background-color: $backgroundSubNavColor;
  border-bottom: 7px solid $generalColor;
}